<section class="breadcrumb d-flex al-i-center container">

  <h2 class="d-none">Test</h2>

  <ul class="list-reset d-flex">
    <li class="d-flex al-i-center">
      <a href="index.html" class="breadcrumb__item text-grey">Главная</a><p class="text-grey">/</p>
    </li>
    <li class="d-flex al-i-center">
      <a href="catalog.html" class="breadcrumb__item text-grey">Каталог</a><p class="text-grey">/</p>
    </li>
    <li class="d-flex al-i-center">
      <a href="#" class="breadcrumb__item text-grey">Диваны</a><p class="text-grey">/</p>
    </li>
    <li class="d-flex al-i-center">
      <a href="#" class="breadcrumb__item text-grey">Прямые&nbsp;диваны</a>
    </li>
  </ul>

</section>
