<header class="header">

  <div class="header__logo header__logo-320 d-flex al-i-center" id="headerLogo">
    <a href="index.html" tabindex="1"><img src="img/logo.svg" alt="логотип компании"></a>
  </div>

  <div class="header__background">
    <div class="container">
      <div class="header__top d-flex jf-sb">

        <div class="header__select d-flex al-i-center" id="headerSelect">
          <p class="header__select-text text">Ваш&nbsp;регион:</p>
          <select class="js-choice-city" id="headerChoice-city">
            <option value="">Москва</option>
            <option>Казань</option>
            <option>Уфа</option>
            <option>Пермь</option>
          </select>
        </div>

        <div class="header__tel d-flex al-i-center" id="headerTel">
          <div class="tel d-flex al-i-center" tabindex="0">
            <svg class="tel-icon" width="22" height="22">
              <use xlink:href="img/sprite.svg#tell"></use>
            </svg>
            <a class="tel-link" href="tel:+74958854547" tabindex="1">+7 (495) 885-45-47</a>
          </div>
        </div>

        <div class="header__info header__info--1920 d-flex al-i-center">
          <ul class="header__info-list list-reset text d-flex jf-sb">
            <li><a class="header__info-item text-grey d-flex" href="#">О&nbsp;компании</a></li>
            <li><a class="header__info-item text-grey d-flex" href="#">Гарантия&nbsp;и&nbsp;возврат</a></li>
            <li><a class="header__info-item text-grey d-flex" href="#">Корпоративным&nbsp;клиентам</a></li>
            <li><a class="header__info-item text-grey d-flex" href="#">Дизайн&nbsp;-&nbsp;решение</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="header__background-tablet">
    <div class="container">
      <div class="header__prizrok d-flex jf-sb">

        <div class="header__info header__info--prizrok d-flex al-i-center" id="headerInfo">
          <ul class="header__info-list list-reset text d-flex jf-sb">
            <li><a class="header__info-item text-grey d-flex" href="#">О компании</a></li>
            <li><a class="header__info-item text-grey d-flex" href="#">Гарантия&nbsp;и&nbsp;возврат</a></li>
            <li><a class="header__info-item text-grey d-flex" href="#">Корпоративным клиентам</a></li>
            <li><a class="header__info-item text-grey d-flex" href="#">Дизайн-решение</a></li>
          </ul>
        </div>

        <div class="header__personel header__personel--prizrak d-flex al-i-center jf-end" id="headerPersonel">

          <a href="#">
            <svg class="" width="26" height="28">
              <use xlink:href="img/sprite.svg#account"></use>
            </svg>
          </a>

          <a class="header__personel-block" href="#">
            <span class="header__personel-number">0</span>
            <svg class="header__personel-svg" width="30" height="28">
              <use xlink:href="img/sprite.svg#bascet"></use>
            </svg>
          </a>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="header__center d-flex jf-sb al-i-center">

      <div class="header__burger">
        <button class="burger burger-main btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger-main__line burger__line"></span>
        </button>
      </div>

      <div class="header__logo d-flex al-i-center">
        <a href="index.html" tabindex="1"><img src="img/logo.svg" alt="логотип компании"></a>
      </div>

      <nav class="header__nav d-flex al-i-center" id="headerNav" data-menu>
        <ul class="header__nav-list list-reset d-flex jf-sb">
          <li><a class="text" data-menu-item href="catalog.html">Каталог</a></li>
          <li><a class="text" data-menu-item href="#store">Магазины</a></li>
          <li><a class="text" data-menu-item href="#showRoom">Шоу&nbsp;-&nbsp;рум</a></li>
          <li><a class="text" data-menu-item href="#delivery">Доставка&nbsp;и&nbsp;оплата</a></li>
          <li><a class="text" data-menu-item href="#discount">Дисконт</a></li>
          <li><a class="text" data-menu-item href="#contacts">Контакты</a></li>
        </ul>

        <div class="header__info info-burger" id="headerInfoBurger">
          <ul class="header__info-list list-burger list-reset d-flex jf-sb">
            <li><a class="header__info-item item-burger text-grey d-flex" href="#">О компании</a></li>
            <li><a class="header__info-item item-burger text-grey d-flex" href="#">Гарантия и возврат</a></li>
            <li><a class="header__info-item item-burger text-grey d-flex" href="#">Корпоративным клиентам</a></li>
            <li><a class="header__info-item item-burger text-grey d-flex" href="#">Дизайн-решение</a></li>
          </ul>
        </div>
      </nav>

      <div class="header__personel header__personel--850 d-flex al-i-center jf-end">

        <a href="#">
          <svg class="" width="26" height="28">
            <use xlink:href="img/sprite.svg#account"></use>
          </svg>
        </a>

        <a class="header__personel-block" href="#">
          <span class="header__personel-number">0</span>
          <svg class="header__personel-svg" width="30" height="28">
            <use xlink:href="img/sprite.svg#bascet"></use>
          </svg>
        </a>

      </div>
    </div>

    <div class="header__bottom">

      <div class="header__search d-flex al-i-center">
        <form action="#" class="form d-flex al-i-center jf-sb" tabindex="0">
            <svg class="form__label-svg" width="20" height="20">
              <use xlink:href="img/sprite.svg#search-icon"></use>
            </svg>
            <input type="text" name="Имя" class="input-reset form__input text" placeholder="Я хочу купить">
          <button class="btn-reset form__btn" type="button">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </form>
      </div>

      <div class="header__categories" tabindex="1">
        <select class="js-choice-headerCategories" id="headerChoice-categories">
          <option value="">Категория</option>
          <option>Диваны</option>
          <option>Кресла</option>
          <option>Пуфы</option>
          <option>Кровати</option>
          <option>Тумбы</option>
          <option>Комоды</option>
          <option>Стулья</option>
          <option>Столы</option>
          <option>Аксессуары</option>
        </select>
      </div>

      <div class="header__personel d-flex al-i-center jf-end">

        <a href="#">
          <svg class="" width="26" height="28">
            <use xlink:href="img/sprite.svg#account"></use>
          </svg>
        </a>

        <a class="header__personel-block" href="#">
          <span class="header__personel-number">0</span>
          <svg class="header__personel-svg" width="30" height="28">
            <use xlink:href="img/sprite.svg#bascet"></use>
          </svg>
        </a>

      </div>

    </div>
  </div>

</header>
