<section class="categories">
  <div class="categories__block container">
    <h4 class="categories__header caption">Топ категории</h4>
    <div class="categories__grid">

      <div class="categories__card categories__card-1" id="catCard-1">
        <ul class="list-reset d-flex">
          <li><a class="text-grey" href="catalog.html">Прямые</a></li>
          <li><a class="text-grey" href="catalog.html">Угловые</a></li>
          <li><a class="text-grey" href="catalog.html">Модульные</a></li>
        </ul>
        <div class="d-flex al-i-center">
          <h3 class="categories__card-title">Диваны</h3>
          <button type="button" class=" categories__card-btn btn-reset al-i-center d-flex">
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <a class="categories__card-link" href="catalog.html">В каталог
          <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
            <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>

      <div class="categories__card categories__card-2" id="catCard-2">
        <ul class="d-flex list-reset">
          <li><a class="text-grey" href="catalog.html">Мягкие</a></li>
          <li><a class="text-grey" href="catalog.html">Кресла-кровати</a></li>
        </ul>
        <div class="d-flex al-i-center">
          <h3 class="categories__card-title">Кресла</h3>
          <button type="button" class=" categories__card-btn btn-reset al-i-center d-flex">
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <a class="categories__card-link" href="catalog.html">В каталог
          <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
            <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>

      <div class="categories__card categories__card-3" id="catCard-3">
        <ul class="list-reset d-flex">
          <li><a class="text-grey" href="catalog.html">Односпальные</a></li>
          <li><a class="text-grey" href="catalog.html">Двуспальные</a></li>
        </ul>
        <div class="d-flex al-i-center">
          <h3 class="categories__card-title">Кровати</h3>
          <button type="button" class=" categories__card-btn btn-reset al-i-center d-flex">
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <a class="categories__card-link" href="catalog.html">В каталог
          <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
            <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>

      <div class="categories__card categories__card-4" id="catCard-4">
        <ul class="list-reset d-flex">
          <li><a href="catalog.html" class="text-grey">Тумбы</a></li>
          <li><a href="catalog.html" class="text-grey">Комоды</a></li>
        </ul>
        <div class="d-flex al-i-center">
          <h3 class="categories__card-title">Тумбы и комоды</h3>
          <button type="button" class=" categories__card-btn btn-reset al-i-center d-flex">
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <a class="categories__card-link" href="catalog.html">В каталог
          <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
            <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>

      <div class="categories__card categories__card-5" id="catCard-5">
        <ul class="list-reset d-flex">
          <li><a href="catalog.html" class="text-grey">Деревянные</a></li>
          <li><a href="catalog.html" class="text-grey">Металлокаркас</a></li>
        </ul>
        <div class="d-flex al-i-center">
          <h3 class="categories__card-title">Стулья</h3>
          <button type="button" class=" categories__card-btn btn-reset al-i-center d-flex">
            <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <a class="categories__card-link" href="catalog.html">В каталог
          <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
            <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>

    </div>
  </div>
</section>
