<section class="hero">

  <div class="hero__swiper swiper" id="heroSwiper">

    <div class="swiper-wrapper">

      <!-- Slides-1 -->
      <div class="hero__swiper-slide swiper-slide" data-swiper-autoplay="5000">
        <picture class="absolut" style="height: 100%; width: 100%;">
          <source srcset="img/main/hero/hero-slide-1-320.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/main/hero/hero-slide-1-768.webp" type="image/webp" media="(max-width: 768px)">
          <source srcset="img/main/hero/hero-slide-1-1024.webp" type="image/webp" media="(max-width: 1024px)">
          <source srcset="img/main/hero/hero-slide-1.webp" type="image/webp">
          <img loading="lazy" src="img/main/hero/hero-slide-1.png" class="image hero-slide-image" alt="фоновое изображение">
        </picture>
        <div class="container">
          <div class="slide-card slide-card-1">
            <h1 class="slide-text">
              Скидка 15% на первую покупку
            </h1>
            <a href="#" class="slide-link">Получить</a>
          </div>
          <!-- <a href="#" class="slide-link-1">Получить</a> -->
        </div>
      </div>

      <!-- Slides-2 -->
      <div class="hero__swiper-slide swiper-slide">
        <picture class="absolut" style="height: 100%; width: 100%;">
          <source srcset="img/main/hero/hero-slide-2-320.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/main/hero/hero-slide-2-768.webp" type="image/webp" media="(max-width: 768px)">
          <source srcset="img/main/hero/hero-slide-2-1024.webp" type="image/webp" media="(max-width: 1024px)">
          <source srcset="img/main/hero/hero-slide-2.webp" type="image/webp">
          <img loading="lazy" src="img/main/hero/hero-slide-2.png" class="image hero-slide-image" alt="фоновое изображение">
        </picture>
        <div class="container">
          <div class="slide-card slide-card-2">
            <p class="slide-text">
              1000+ аксессуаров для дома
            </p>
            <a href="#" class="slide-link">Подробнее</a>
          </div>
          <!-- <a href="#" class="slide-link-1">Подробнее</a> -->
        </div>
      </div>

      <!-- Slides-3 -->
      <div class="hero__swiper-slide swiper-slide">
        <picture class="absolut" style="height: 100%; width: 100%;">
          <source srcset="img/main/hero/hero-slide-3-320.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/main/hero/hero-slide-3-768.webp" type="image/webp" media="(max-width: 768px)">
          <source srcset="img/main/hero/hero-slide-3-1024.webp" type="image/webp" media="(max-width: 1024px)">
          <source srcset="img/main/hero/hero-slide-3.webp" type="image/webp">
          <img loading="lazy" src="img/main/hero/hero-slide-3.png" class="image hero-slide-image" alt="фоновое изображение">
        </picture>

        <div class="container">
          <div class="slide-card slide-card-3">
            <p class="slide-text">
              Коллекция стильного и яркого текстиля
            </p>
            <a href="#" class="slide-link">Подробнее</a>
          </div>
        </div>
      </div>

    </div>

    <div class="swiper-pagination"></div>

  </div>

  <div class="container">
    <a href="#" class="slide-link-1">Получить!</a>
  </div>

</section>
