<section class="offers">
  <div class="offers__block container">
    <h2 class="offers__header caption">Специальные предложения</h2>

    <!-- If we need navigation buttons -->
    <button class="offers__swiper-button-prev swiper-button-prev btn-reset">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15" transform="matrix(-1 0 0 1 32 0)" stroke="#A65CF0" stroke-width="2"/>
        <path d="M18 11L13 16L18 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <button class="offers__swiper-button-next swiper-button-next btn-reset">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
        <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>

    <div class="offers__swiper swiper">

      <!-- Additional required wrapper -->
      <div class="offers__swiper-wrapper swiper-wrapper">

        <!-- Slides 1 -->
        <div class="offers__swiper-slide1 swiper-slide d-flex">
          <div class="offers__swiper-card offers__swiper-card1">
            <picture class="d-flex al-i-center jf-center" style="width: 100%;">
              <source srcset="img/main/offers/offers-320-1.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/main/offers/offers-768-1.webp" type="image/webp" media="(max-width: 768px)">
              <source srcset="img/main/offers/offers-1024-1.webp" type="image/webp" media="(max-width: 1024px)">
              <source srcset="img/main/offers/offers-card-1.webp" type="image/webp">
              <img loading="lazy" src="img/main/offers/offers-card-1.png" class="offers__swiper-image" alt="фоновое изображение">
            </picture>
            <h3 class="offers__swiper-card-title">Кресло велюровое “X-24”</h3>
            <div class="offers__swiper-card-subtitle">
              <span class="offers__swiper-card-price">15 990 руб</span>
              <span class="offers__swiper-card-price-old">24 990 руб</span>
            </div>
            <span class="offers__swiper-card-sale">-&nbsp;9&nbsp;000</span>
            <a href="catalog.html" class="offers__swiper-card-btn">Купить</a>
          </div>
        </div>

         <!-- Slides 2 -->
        <div class="offers__swiper-slide2 swiper-slide">
          <div class="offers__swiper-card offers__swiper-card2">
            <picture class="d-flex al-i-center jf-center" style="width: 100%;">
              <source srcset="img/main/offers/offers-320-2.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/main/offers/offers-768-2.webp" type="image/webp" media="(max-width: 768px)">
              <source srcset="img/main/offers/offers-1024-2.webp" type="image/webp" media="(max-width: 1024px)">
              <source srcset="img/main/offers/offers-card-2.webp" type="image/webp">
              <img loading="lazy" src="img/main/offers/offers-card-2.png" class="offers__swiper-image" alt="фоновое изображение">
            </picture>
            <h3 class="offers__swiper-card-title">Диван тканевый<br> “Z-44”</h3>
            <div class="offers__swiper-card-subtitle">
              <span class="offers__swiper-card-price">22 990 руб</span>
              <span class="offers__swiper-card-price-old">32 990 руб</span>
            </div>
            <span class="offers__swiper-card-sale">-&nbsp;10&nbsp;000</span>
            <a href="catalog.html" class="offers__swiper-card-btn">Купить</a>
          </div>
        </div>

        <!-- Slides 3 -->
        <div class="offers__swiper-slide3 swiper-slide">
          <div class="offers__swiper-card offers__swiper-card3">
            <picture class="d-flex al-i-center jf-center" style="width: 100%;">
              <source srcset="img/main/offers/offers-320-3.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/main/offers/offers-768-3.webp" type="image/webp" media="(max-width: 768px)">
              <source srcset="img/main/offers/offers-1024-3.webp" type="image/webp" media="(max-width: 1024px)">
              <source srcset="img/main/offers/offers-card-3.webp" type="image/webp">
              <img loading="lazy" src="img/main/offers/offers-card-3.png" class="offers__swiper-image" alt="фоновое изображение">
            </picture>
            <h3 class="offers__swiper-card-title">Будильник  “Quartz-23”</h3>
            <div class="offers__swiper-card-subtitle">
              <span class="offers__swiper-card-price">1 290 руб</span>
              <span class="offers__swiper-card-price-old">1 890 руб</span>
            </div>
            <span class="offers__swiper-card-sale">-&nbsp;600</span>
            <a href="catalog.html" class="offers__swiper-card-btn">Купить</a>
          </div>
        </div>

         <!-- Slides 4 -->
        <div class="offers__swiper-slide4 swiper-slide">
          <div class="offers__swiper-card offers__swiper-card4">
            <picture class="d-flex al-i-center jf-center" style="width: 100%;">
              <source srcset="img/main/offers/offers-320-4.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/main/offers/offers-768-4.webp" type="image/webp" media="(max-width: 768px)">
              <source srcset="img/main/offers/offers-1024-4.webp" type="image/webp" media="(max-width: 1024px)">
              <source srcset="img/main/offers/offers-card-4.webp" type="image/webp">
              <img loading="lazy" src="img/main/offers/offers-card-4.png" class="offers__swiper-image" alt="фоновое изображение">
            </picture>
            <h3 class="offers__swiper-card-title">Мини-скульптура “Oh my deer”</h3>
            <div class="offers__swiper-card-subtitle">
              <span class="offers__swiper-card-price">690 руб</span>
              <span class="offers__swiper-card-price-old">990 руб</span>
            </div>
            <span class="offers__swiper-card-sale">-&nbsp;300</span>
            <a href="catalog.html" class="offers__swiper-card-btn">Купить</a>
          </div>
        </div>

         <!-- Slides 5 -->
        <div class="offers__swiper-slide5 swiper-slide">
          <div class="offers__swiper-card offers__swiper-card5">
            <picture class="d-flex al-i-center jf-center" style="width: 100%;">
              <source srcset="img/main/offers/offers-320-5.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/main/offers/offers-768-5.webp" type="image/webp" media="(max-width: 768px)">
              <source srcset="img/main/offers/offers-1024-5.webp" type="image/webp" media="(max-width: 1024px)">
              <source srcset="img/main/offers/offers-card-5.webp" type="image/webp">
              <img loading="lazy" src="img/main/offers/offers-card-5.png" class="offers__swiper-image" alt="фоновое изображение">
            </picture>
            <h3 class="offers__swiper-card-title">Диван вел-флок<br> “Z-85”</h3>
            <div class="offers__swiper-card-subtitle">
              <span class="offers__swiper-card-price">22 990 руб</span>
              <span class="offers__swiper-card-price-old">32 990 руб</span>
            </div>
            <span class="offers__swiper-card-sale">-&nbsp;10&nbsp;000</span>
            <a href="catalog.html" class="offers__swiper-card-btn">Купить</a>
          </div>
        </div>

         <!-- Slides 6 -->
        <div class="offers__swiper-slide6 swiper-slide">
          <div class="offers__swiper-card offers__swiper-card6">
            <picture class="d-flex al-i-center jf-center" style="width: 100%;">
              <source srcset="img/main/offers/offers-320-6.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/main/offers/offers-768-6.webp" type="image/webp" media="(max-width: 768px)">
              <source srcset="img/main/offers/offers-1024-6.webp" type="image/webp" media="(max-width: 1024px)">
              <source srcset="img/main/offers/offers-card-6.webp" type="image/webp">
              <img loading="lazy" src="img/main/offers/offers-card-6.png" class="offers__swiper-image" alt="фоновое изображение">
            </picture>
            <h3 class="offers__swiper-card-title">Термометр + гидрометр “H-18”</h3>
            <div class="offers__swiper-card-subtitle">
              <span class="offers__swiper-card-price">1 390 руб</span>
              <span class="offers__swiper-card-price-old">2 090 руб</span>
            </div>
            <span class="offers__swiper-card-sale">-&nbsp;700</span>
            <a href="catalog.html" class="offers__swiper-card-btn">Купить</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
