<section class="rating">
  <div class="container">
    <h2 class="rating__header caption">Высокий рейтинг</h2>
    <div class="rating__block">

      <div class="rating__card card-product">
        <picture>
          <source srcset="img/main/rating/rating-1.webp" type="image/webp">
          <img loading="lazy" src="img/main/rating/rating-1.png" class="rating__card-image" alt="фоновое изображение">
        </picture>
        <div class="rating__card-block card-product__block">
          <h3 class="rating__card-title card-product__title">Диван кожаный<br>&laquo;R-94&raquo;</h3>
          <span class="rating__card-price card-product__price">94 990 руб</span>
          <span class="rating__card-rating card-product__rating">5.0</span>
          <a href="catalog.html" class="rating__card-btn card-product__btn">Купить</a>
        </div>
      </div>

      <div class="rating__card card-product">
        <picture>
          <source srcset="img/main/rating/rating-2.webp" type="image/webp">
          <img loading="lazy" src="img/main/rating/rating-2.png" class="rating__card-image" alt="фоновое изображение">
        </picture>
        <div class="rating__card-block card-product__block">
          <h3 class="rating__card-title card-product__title">Диван апартековый<br>&laquo;T-75&raquo;</h3>
          <span class="rating__card-price card-product__price">69 990 руб</span>
          <span class="rating__card-rating card-product__rating">4.9</span>
          <a href="catalog.html" class="rating__card-btn card-product__btn">Купить</a>
        </div>
      </div>

      <div class="rating__card card-product">
        <picture>
          <source srcset="img/main/rating/rating-3.webp" type="image/webp">
          <img loading="lazy" src="img/main/rating/rating-3.png" class="rating__card-image" alt="фоновое изображение">
        </picture>
        <div class="rating__card-block card-product__block">
          <h3 class="rating__card-title card-product__title">Диван тканевый<br>&laquo;D-31&raquo;</h3>
          <span class="rating__card-price card-product__price">28 490 руб</span>
          <span class="rating__card-rating card-product__rating">4.8</span>
          <a href="catalog.html" class="rating__card-btn card-product__btn">Купить</a>
        </div>
      </div>

      <div class="rating__card card-product">
        <picture>
          <source srcset="img/main/rating/rating-4.webp" type="image/webp">
          <img loading="lazy" src="img/main/rating/rating-4.png" class="rating__card-image" alt="фоновое изображение">
        </picture>
        <div class="rating__card-block card-product__block">
          <h3 class="rating__card-title card-product__title">Диван велюровый<br>&laquo;Y-68&raquo;</h3>
          <span class="rating__card-price card-product__price">22 990 руб</span>
          <span class="rating__card-rating card-product__rating">4.8</span>
          <a href="catalog.html" class="rating__card-btn card-product__btn">Купить</a>
        </div>
      </div>

      <div class="rating__card card-product">
        <picture>
          <source srcset="img/main/rating/rating-5.webp" type="image/webp">
          <img loading="lazy" src="img/main/rating/rating-5.png" class="rating__card-image" alt="фоновое изображение">
        </picture>
        <div class="rating__card-block card-product__block">
          <h3 class="rating__card-title card-product__title">Диван из&nbsp;шинила<br>&laquo;W-95&raquo;</h3>
          <span class="rating__card-price card-product__price">22 990 руб</span>
          <span class="rating__card-rating card-product__rating">4.8</span>
          <a href="catalog.html" class="rating__card-btn card-product__btn">Купить</a>
        </div>
      </div>

      <div class="rating__card card-product">
        <picture>
          <source srcset="img/main/rating/rating-6.webp" type="image/webp">
          <img loading="lazy" src="img/main/rating/rating-6.png" class="rating__card-image" alt="фоновое изображение">
        </picture>
        <div class="rating__card-block card-product__block">
          <h3 class="rating__card-title card-product__title">Диван флоковый<br>&laquo;G-41&raquo;</h3>
          <span class="rating__card-price card-product__price">17 990 руб</span>
          <span class="rating__card-rating card-product__rating">4.8</span>
          <a href="catalog.html" class="rating__card-btn card-product__btn">Купить</a>
        </div>
      </div>

      <div class="rating__card card-product">
        <picture>
          <source srcset="img/main/rating/rating-7.webp" type="image/webp">
          <img loading="lazy" src="img/main/rating/rating-7.png" class="rating__card-image" alt="фоновое изображение">
        </picture>
        <div class="rating__card-block card-product__block">
          <h3 class="rating__card-title card-product__title">Диван шиниловый<br>&laquo;V-43&raquo;</h3>
          <span class="rating__card-price card-product__price">19 990 руб</span>
          <span class="rating__card-rating card-product__rating">4.8</span>
          <a href="catalog.html" class="rating__card-btn card-product__btn">Купить</a>
        </div>
      </div>

      <div class="rating__card card-product">
        <picture>
          <source srcset="img/main/rating/rating-8.webp" type="image/webp">
          <img loading="lazy" src="img/main/rating/rating-8.png" class="rating__card-image" alt="фоновое изображение">
        </picture>
        <div class="rating__card-block card-product__block">
          <h3 class="rating__card-title card-product__title">Диван велюровый<br>&laquo;S-99&raquo;</h3>
          <span class="rating__card-price card-product__price">19 990 руб</span>
          <span class="rating__card-rating card-product__rating">4.7</span>
          <a href="catalog.html" class="rating__card-btn card-product__btn">Купить</a>
        </div>
      </div>

    </div>
    <div class="d-flex jf-center">
      <button type="button" class="rating__btn btn-reset" id="ratingBtn">Смотреть больше товаров</button>
    </div>


  </div>
</section>
