<section class="useful">
  <div class="useful__block container">
    <h4 class="useful__header caption">Полезное</h4>

     <!-- If we need navigation buttons -->
     <button class="useful__swiper-button-prev swiper-button-prev btn-reset">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15" transform="matrix(-1 0 0 1 32 0)" stroke="#A65CF0" stroke-width="2"/>
        <path d="M18 11L13 16L18 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
     </button>
     <button class="useful__swiper-button-next swiper-button-next btn-reset">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2"/>
        <path d="M14 11L19 16L14 21" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
     </button>

    <div class="useful__swiper swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="useful__swiper-slide swiper-slide">
          <picture>
            <source srcset="/img/main/useful/useful-320-1.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="/img/main/useful/useful-768-1.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="/img/main/useful/useful-1024-1.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="/img/main/useful/useful-1.webp" type="image/webp">
            <img loading="lazy" src="/img/main/useful/useful-1.png" class="useful__image" alt="фоновое изображение 1">
          </picture>
          <div class="useful__group">
            <p class="text">
              И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
            </p>
            <button type="button" class="useful__btn btn-reset">Читать</button>
          </div>
        </div>

        <div class="useful__swiper-slide swiper-slide">
          <picture>
            <source srcset="/img/main/useful/useful-320-2.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="/img/main/useful/useful-768-2.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="/img/main/useful/useful-1024-2.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="/img/main/useful/useful-2.webp" type="image/webp">
            <img loading="lazy" src="/img/main/useful/useful-2.png" class="useful__image" alt="фоновое изображение 2">
          </picture>
          <div class="useful__group">
            <p class="text">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <button type="button" class="useful__btn btn-reset">Читать</button>
          </div>
        </div>

        <div class="useful__swiper-slide swiper-slide">
          <picture>
            <source srcset="/img/main/useful/useful-320-3.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="/img/main/useful/useful-768-3.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="/img/main/useful/useful-1024-3.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="/img/main/useful/useful-3.webp" type="image/webp">
            <img loading="lazy" src="/img/main/useful/useful-3.png" class="useful__image" alt="фоновое изображение 3">
          </picture>
          <div class="useful__group">
            <p class="text">
              Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
            </p>
            <button type="button" class="useful__btn btn-reset">Читать</button>
          </div>
        </div>

        <div class="useful__swiper-slide swiper-slide">
          <picture>
            <source srcset="/img/main/useful/useful-320-4.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="/img/main/useful/useful-768-4.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="/img/main/useful/useful-1024-4.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="/img/main/useful/useful-4.webp" type="image/webp">
            <img loading="lazy" src="/img/main/useful/useful-4.png" class="useful__image" alt="фоновое изображение 4">
          </picture>
          <div class="useful__group">
            <p class="text">
              Прежде всего, консультация с широким активом однозначно фиксирует распределения?
            </p>
            <button type="button" class="useful__btn btn-reset">Читать</button>
          </div>
        </div>

        <div class="useful__swiper-slide swiper-slide">
          <picture>
            <source srcset="/img/main/useful/useful-320-5.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="/img/main/useful/useful-768-5.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="/img/main/useful/useful-1024-5.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="/img/main/useful/useful-5.webp" type="image/webp">
            <img loading="lazy" src="/img/main/useful/useful-5.png" class="useful__image" alt="фоновое изображение 5">
          </picture>
          <div class="useful__group">
            <p class="text">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <button type="button" class="useful__btn btn-reset">Читать</button>
          </div>
        </div>

        <div class="useful__swiper-slide swiper-slide">
          <picture>
            <source srcset="/img/main/useful/useful-320-2.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="/img/main/useful/useful-768-2.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="/img/main/useful/useful-1024-2.webp" type="image/webp" media="(max-width: 1024px)">
            <source srcset="/img/main/useful/useful-3.webp" type="image/webp">
            <img loading="lazy" src="/img/main/useful/useful-3.png" class="useful__image" alt="фоновое изображение 6">
          </picture>
          <div class="useful__group">
            <p class="text">
              Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
            </p>
            <button type="button" class="useful__btn btn-reset">Читать</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
