<section class="card">
  <div class="container">
    <div class="card__grid">

      <div class="card__img d-flex fl-dr-col relativ" id="cardImg">

        <div class="swiper mySwiper2 card-swiper" data-graph-path="cardOne">
          <div class="swiper-wrapper">

            <!-- slide-1 -->
            <div class="swiper-slide card-swiper-slide">
              <picture>
                <source srcset="img/card/card/slide-1-320.webp" type="image/webp" media="(max-width: 576px)">
                <source srcset="img/card/card/slide-1-768.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/card/card/slide-1-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/card/card/slide-1.webp" type="image/webp">
                <img loading="lazy" src="img/card/card/slide-1.png" alt="фоновое изображение">
              </picture>
            </div>
            <!-- slide-2 -->
            <div class="swiper-slide card-swiper-slide">
              <picture>
                <source srcset="img/card/card/slide-2-320.webp" type="image/webp" media="(max-width: 576px)">
                <source srcset="img/card/card/slide-2.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/card/card/slide-2-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/card/card/slide-2.webp" type="image/webp">
                <img loading="lazy" src="img/card/card/slide-2.png" alt="фоновое изображение">
              </picture>
            </div>
            <!-- slide-3 -->
            <div class="swiper-slide card-swiper-slide">
              <picture>
                <source srcset="img/card/card/slide-3-320.webp" type="image/webp" media="(max-width: 576px)">
                <source srcset="img/card/card/slide-3.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/card/card/slide-3-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/card/card/slide-3.webp" type="image/webp">
                <img loading="lazy" src="img/card/card/slide-3.png" alt="фоновое изображение">
              </picture>
            </div>
            <!-- slide-4 -->
            <div class="swiper-slide card-swiper-slide">
              <picture>
                <source srcset="img/card/card/slide-4-320.webp" type="image/webp" media="(max-width: 576px)">
                <source srcset="img/card/card/slide-4.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/card/card/slide-4-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/card/card/slide-4.webp" type="image/webp">
                <img loading="lazy" src="img/card/card/slide-4.png" alt="фоновое изображение">
              </picture>
            </div>
            <!-- slide-5 -->
            <div class="swiper-slide card-swiper-slide">
              <picture>
                <source srcset="img/card/card/slide-5-320.webp" type="image/webp" media="(max-width: 576px)">
                <source srcset="img/card/card/slide-5.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/card/card/slide-5-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/card/card/slide-5.webp" type="image/webp">
                <img loading="lazy" src="img/card/card/slide-5.png" alt="фоновое изображение">
              </picture>
            </div>

          </div>
        </div>

        <div class="swiper mySwiper card-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide card-swiper-slide">
              <img src="img/card/card/slide-1.webp" alt="фоновое изображение">
            </div>
            <div class="swiper-slide card-swiper-slide">
              <img src="img/card/card/slide-2.webp" alt="фоновое изображение">
            </div>
            <div class="swiper-slide card-swiper-slide">
              <img src="img/card/card/slide-3.webp" alt="фоновое изображение">
            </div>
            <div class="swiper-slide card-swiper-slide">
              <img src="img/card/card/slide-4.webp" alt="фоновое изображение">
            </div>
            <div class="swiper-slide card-swiper-slide">
              <img src="img/card/card/slide-5-b.webp" alt="фоновое изображение">
            </div>
          </div>
        </div>

      </div>

      <div class="card__price" id="cardPrice">
        <p class="card__price-rating">4.8</p>
        <h1 class="card__price-title">Диван тканевый прямой &laquo;D-31&raquo;</h1>
        <p class="card__price-subtitle">Мини 120&nbsp;см без ящика Stark синий (Рогожка)</p>
        <p class="card__price-value">28 490 руб</p>
        <button class="card__price-btn btn-reset" data-graph-path="cardOneBye">Купить в один клик</button>
        <button class="card__price-addbasket btn-reset">+ Добавить в корзину</button>
      </div>

      <div class="card__descr" id="cardDescr">
        <h2 class="card__descr-title">Опорный механизм</h2>
        <p class="card__descr-subtitle card__descr-margin">
          Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию.
          У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места.
          Заключительный штрих — опустить спинку.
        </p>
        <p class="card__descr-subtitle">
          Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но
          подросток справится.
        </p>
      </div>

      <div class="card__specific" id="cardSpecific">

        <ul class="feature">
          <li>
            <div class="feature-left">Гарантия</div>
            <div class="feature-right">12 месяцев</div>
          </li>
          <li>
            <div class="feature-left">Артикул</div>
            <div class="feature-right">AAA41269004</div>
          </li>
          <li>
            <div class="feature-left">Длина</div>
            <div class="feature-right">163 см</div>
          </li>
          <li>
            <div class="feature-left">Высота</div>
            <div class="feature-right">90 см</div>
          </li>
          <li>
            <div class="feature-left">Глубина</div>
            <div class="feature-right">108 см</div>
          </li>
          <li>
            <div class="feature-left">Спальное место</div>
            <div class="feature-right">200 см х 125 см</div>
          </li>
          <li>
            <div class="feature-left">Высота посадки</div>
            <div class="feature-right">45 см</div>
          </li>
          <li>
            <div class="feature-left">Механизм</div>
            <div class="feature-right">Опорный</div>
          </li>
          <li>
            <div class="feature-left">Тип обивки</div>
            <div class="feature-right">Рогожка</div>
          </li>
          <li>
            <div class="feature-left">Цвет</div>
            <div class="feature-right">Синий</div>
          </li>
          <li>
            <div class="feature-left">Наполнитель</div>
            <div class="feature-right">Независимый пружинный блок</div>
          </li>
          <li>
            <div class="feature-left">Материал каркаса</div>
            <div class="feature-right">Металл. рама с дерев. латами</div>
          </li>
          <li>
            <div class="feature-left">Количество мест</div>
            <div class="feature-right">Двухместные</div>
          </li>
          <li>
            <div class="feature-left">Категория</div>
            <div class="feature-right">Прямые тканевые диваны</div>
          </li>
          <li>
            <div class="feature-left">Возврат</div>
            <div class="feature-right">Условия</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="graph-modal">

      <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="cardOne">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content">
          <div class="swiper mySwiper3 card-swiper">
            <div class="swiper-wrapper">

              <!-- slide-1 -->
              <div class="swiper-slide card-swiper-slide">
                <picture>
                  <source srcset="img/card/card/slide-1-320.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="img/card/card/slide-1-768.webp" type="image/webp" media="(max-width: 768px)">
                  <source srcset="img/card/card/slide-1-1024.webp" type="image/webp" media="(max-width: 1024px)">
                  <source srcset="img/card/card/slide-1.webp" type="image/webp">
                  <img loading="lazy" src="img/card/card/slide-1.png" alt="фоновое изображение">
                </picture>
              </div>
              <!-- slide-2 -->
              <div class="swiper-slide card-swiper-slide">
                <picture>
                  <source srcset="img/card/card/slide-2-320.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="img/card/card/slide-2.webp" type="image/webp" media="(max-width: 768px)">
                  <source srcset="img/card/card/slide-2-1024.webp" type="image/webp" media="(max-width: 1024px)">
                  <source srcset="img/card/card/slide-2.webp" type="image/webp">
                  <img loading="lazy" src="img/card/card/slide-2.png" alt="фоновое изображение">
                </picture>
              </div>
              <!-- slide-3 -->
              <div class="swiper-slide card-swiper-slide">
                <picture>
                  <source srcset="img/card/card/slide-3-320.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="img/card/card/slide-3.webp" type="image/webp" media="(max-width: 768px)">
                  <source srcset="img/card/card/slide-3-1024.webp" type="image/webp" media="(max-width: 1024px)">
                  <source srcset="img/card/card/slide-3.webp" type="image/webp">
                  <img loading="lazy" src="img/card/card/slide-3.png" alt="фоновое изображение">
                </picture>
              </div>
              <!-- slide-4 -->
              <div class="swiper-slide card-swiper-slide">
                <picture>
                  <source srcset="img/card/card/slide-4-320.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="img/card/card/slide-4.webp" type="image/webp" media="(max-width: 768px)">
                  <source srcset="img/card/card/slide-4-1024.webp" type="image/webp" media="(max-width: 1024px)">
                  <source srcset="img/card/card/slide-4.webp" type="image/webp">
                  <img loading="lazy" src="img/card/card/slide-4.png" alt="фоновое изображение">
                </picture>
              </div>
              <!-- slide-5 -->
              <div class="swiper-slide card-swiper-slide">
                <picture>
                  <source srcset="img/card/card/slide-5-320.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="img/card/card/slide-5.webp" type="image/webp" media="(max-width: 768px)">
                  <source srcset="img/card/card/slide-5-1024.webp" type="image/webp" media="(max-width: 1024px)">
                  <source srcset="img/card/card/slide-5.webp" type="image/webp">
                  <img loading="lazy" src="img/card/card/slide-5.png" alt="фоновое изображение">
                </picture>
              </div>

            </div>
          </div>

          <div class="swiper mySwiper1 card-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide card-swiper-slide">
                <img src="img/card/card/slide-1.webp" alt="фоновое изображение">
              </div>
              <div class="swiper-slide card-swiper-slide">
                <img src="img/card/card/slide-2.webp" alt="фоновое изображение">
              </div>
              <div class="swiper-slide card-swiper-slide">
                <img src="img/card/card/slide-3.webp" alt="фоновое изображение">
              </div>
              <div class="swiper-slide card-swiper-slide">
                <img src="img/card/card/slide-4.webp" alt="фоновое изображение">
              </div>
              <div class="swiper-slide card-swiper-slide">
                <img src="img/card/card/slide-5-b.webp" alt="фоновое изображение">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="cardbye-container graph-modal__container" role="dialog" aria-modal="true"
        data-graph-target="cardOneBye">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="cardbye-contend graph-modal__content">
          <h2 class="cardbye-header">Купить в один клик</h2>
          <p class="cardbye-descr">Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении
            часа.</p>

          <form class="card-form" action="mail.php" method="POST">

            <div class="relativ" style="width: 100%;">
              <input name="name" type="text" class="input-reset card-form__input card-form__input-name"
                placeholder="Как вас зовут?" autocomplete="on">

              <div class="just-validate-error-label"></div>
            </div>

            <div class="relativ" style="width: 100%;">
              <input name="phone" type="tel" class="input-reset card-form__input card-form__input-tel"
                placeholder="Ваш телефон" autocomplete="on">

              <div class="just-validate-error-label"></div>
            </div>

            <button class="btn-reset card-form__btn">Отправить</button>

            <div class="relativ">
              <label class="custom-checkbox" style="width: 100%;">
                <input type="checkbox" required class="custom-checkbox__field">
                <span class="custom-checkbox__content">Принимаю <a href="#">пользовательское соглашение</a></span>
              </label>
            </div>

          </form>
        </div>
      </div>

      <div class="cardthanks-container graph-modal__container" role="dialog" aria-modal="true"
        data-graph-target="cardThanks">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="cardthanks-content graph-modal__content">
          Спасибо, мы вам перезвоним!
        </div>
      </div>

    </div>


  </div>
</section>
